
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  margin: -8px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;

}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  align-items: stretch;
}

.searchsort {
  display: flex;
  gap: 0 50px;
  margin-left: 105px;
  margin-top: 30px;
}

.search-button {
  background-color: rgba(230, 229, 229, 0.824);
  border-width: 1px;
  height: 22px;
  border-radius: 2px;
}

#sortRoll {
  background-color: rgba(243, 243, 243, 0.824);
  border-width: 1px;
  height: 22px;
  border-radius: 2px;
}

#sortText {
  font-size: 15px;
}

#search-input {
  width: 350px;
}