
  
  .navcontainer {
    display: flex;
  }
  
  .logo-thumbnail {
    margin: 40px 40px;
    width: 500px;
  }
  
  hr {
    height:5px;
    background:black;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
  }
  
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3% 100px 0 0;
  }

  .pages p:hover {
    cursor: pointer;
  }
  
  .nav-items {
    margin: 7%;
    font-size: 20px;
  }
  
  .nav-items:hover {
    background-color: yellow;
    font-weight: bold;
  
  }
  
  .cart-summary {
    display: flex;
    flex-direction: column;
  }
  
  .cart-summary-items {
    margin: -2px 7%;
    text-align: right;
  }
  
  
  .phrase {
    font-size: 200%;
    padding: 50px 0px;
  }
  


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: white;
  border-color: grey;
  border: 1px solid;

  padding: 1px 0;
  text-align: left;

  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 75%;
  margin-left: -30px;
  margin-right: 7%;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
